/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #101010;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #06beb6, #48b1bf);
    text-align: center;
    padding: 20px 0;
}

header h1 {
    color: #fff;
}

.main {
    padding: 20px;
}

.intro, .features {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.feature {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #303030;
}
